body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5f5f5f;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}
h1 {
  font-size: 60px;
}
h2 {
  color: #111;
  font-weight: 300;
  margin-bottom: 30px;
}
h3,
h4,
h5 {
  color: #333c4d;
  font-weight: 400;
  margin-bottom: 20px;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #5f5f5f;
  padding-bottom: 15px;
}
@font-face {
  font-family: 'FontAwesome';
  src: local('FontAwesome');
}
ul li {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 27px;
  list-style-type: none;
  color: #5f5f5f;
}
a {
  color: #5f5f5f;
}
a:hover {
  color: #1A1102;
}
a h4:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
}
.branding img#logo {
  max-width: initial;
  margin-left: -15px;
}
.clear {
  clear: both;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.caption {
  text-align: center;
  margin-bottom: 70px;
}
.btn-cta-primary {
  color: #ffffff !important;
  padding: 15px 30px 15px 30px !important;
  border-radius: 0px;
  font-size: 14px;
  letter-spacing: 4px;
  transition: all 0.2s ease-in-out;
  position: relative;
  margin-top: 25px;
  text-transform: uppercase;
	font-family: Arial;
}
.btn-cta-blue {
  background-color: #1A1102;
}
.btn-cta-blue:hover {
  background-color: #fff;
  color: #1A1102 !important;
}
a.more {
  transition: all 0.2s ease-in-out;
  font-size: 14px !important;
  margin-top: 10px;
  font-weight: 400;
}
a.more:hover * {
  color: #1A1102;
  padding-left: 10px;
}
a.more i.fa {
  font-size: 15px !important;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
}
a.more i.fa:hover {
  color: #009be3;
}
/***************** NAV ***************/
#top-nav {
  transition: all 0.2s linear 0s;
}
.navbar-fixed-top {
  background-color: transparent;
  border: none;
}
.navbar-fixed-top li a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s, border 0.3s;
}
.navbar-fixed-top .navbar-nav .activenav a {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.navbar-nav > li > a {
  border-bottom: 1px solid transparent;
  transition: color 0.3s, border 0.3s;
}
.navbar-fixed-top .navbar-nav > li > a:hover {
  border-bottom: 1px solid #fff;
}
.fixed-header {
  background: #474745 !important;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.1);
}
.fixed-header .navbar-nav > li > a {
  color: #CFCFCF;
  opacity: 1;
}
.fixed-header .navbar-nav .activenav a {
  color: #D9F59E !important;
  border-bottom: 1px solid #D9F59E;
}
.fixed-header .navbar-nav .activenav a:hover {
  border-bottom: 1px solid #D9F59E;
}
.fixed-header .navbar-nav > li > a:hover {
  border-bottom: 1px solid #DD920B;
}
#top-nav.navbar-scroll-changed {
  background: none;
  margin: 0 auto;
  border: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.social .fa-discord{
	height: 20px;
	width: 20px;
	background: url("../images/discord.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
a .fa-discord:hover{
	background-image: url("../images/discord-hov.png");
}
.hero-overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 700px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.hero-image {
  margin-bottom: 70px;
}
.hero-image #home {
  background: url("../images/home-hero-2.jpg");
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.main-message {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 100%;
}
.main-message h1 {
  font-family: impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: #ffffff;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.498), -1px 1px 0px rgba(0, 0, 0, 0.498), 1px 1px 0px rgba(0, 0, 0, 0.498), 1px -1px 0px rgba(0, 0, 0, 0.498);
  letter-spacing: 0em;
}
.title {
  text-align: center;
  margin-bottom: 70px;
}
.title p {
  font-size: 14px;
  color: gray;
}
.title h2 {
  margin-bottom: 15px !important;
}
p.description {
	font-size: 14px;
	font-weight: normal;
	text-align: center !important;
	padding-bottom: 5px;
	max-width: 550px;
	margin: 0 auto;
}
.main-message p.description{
	color: #eee;
}
p.description-image {
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 0.4px;
	padding: 15px 230px;
	line-height: 25px;
}
.zig-zag {
  margin-bottom: 100px;
}
.zig-zag h2 {
  margin-top: 40px;
}
.zig-zag-right p {
  text-align: right;
}
.zig-zag-right h2 {
  text-align: right;
}
#features {
  margin-bottom: 70px;
  padding-top: 50px;
  background-color: #f6f8fa;
}
#features i.fa {
  font-size: 50px;
  color: #1A1102;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
#features h3 {
  color: #222222;
}
#features .caption p {
  padding-left: 10px;
  padding-right: 10px;
}
#testimonials .carousel-indicators li {
  background-color: #000;
  background-color: rgba(70, 70, 70, 0.25);
}
#testimonials .carousel-indicators .active {
  background-color: transparent;
  border: 2px solid #1A1102;
}
.carousel-inner .item {
	min-height: 220px;
}
#testimonials .carousel-inner blockquote {
  font-size: 30px;
  line-height: 40px;
  margin: 0px;
  font-weight: 300;
  color: #111;
}
.carousel-indicators {
  top: 110%;
}
a.company img {
  margin: 0 auto 10px;
  margin-bottom: 30px;
  width: auto;
}
span.author {
  font-size: 13px;
  color: #5f5f5f !important;
  font-weight: 500;
}
span.author img {
  display: block;
  height: 54px;
  margin: 0 auto 10px;
  margin-top: 30px;
  width: auto;
}
#services a img {
  transition: all 0.2s ease-in-out;
}
#services a img {
  border: 2px solid #fff;
}
#services a img:hover {
  border: 2px solid #1A1102;
}
/************ INDEX ***************/
/************ PRICE TABLE ***************/
#plan {
  padding-bottom: 70px;
}
.price-table {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-left: 0px;
}
.price-table i.fa {
  color: #d6d6d6;
  font-size: 40px;
}
.price-table h6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5f5f5f;
  font-weight: 400;
}
span.price {
  font-size: 70px;
  font-weight: 300;
  color: #333c4d;
}
span.dollar {
  vertical-align: top;
  font-size: 17px !important;
  display: inline-block;
  margin-top: 15px;
  color: #222;
}
.price-table ul.features {
  margin-top: 10px;
}
.price-table ul.features li {
  font-size: 14px;
  line-height: 37px;
}
.price-table:hover {
  background-color: #1A1102;
  margin-top: -20px;
  z-index: 10;
  border: none;
}
.price-table:hover * {
  color: #fff !important;
}
/************ PRICE TABLE ***************/
/**************** MEDIA QUERIES ******************/
@media (max-width: 768px) {
  .hero-overlay {
    height: 450px;
  }
  .navbar-fixed-top {
    background: #474745 !important;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.1);
  }
  .navbar-default .navbar-nav > li > a {
    color: #CFCFCE;
    opacity: 1;
    line-height: 20px !important;
    margin-left: 0px !important;
  }
  .navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #CFCFCE !important;
  }
  .navbar-fixed-top .navbar-nav .activenav a {
    color: #D9F59E;
    border-bottom: 1px solid #D9F59E;
  }
}
@media (max-width: 990px) {
  p.description-image {
    padding: 0px !important;
  }
}
@media (max-width: 990px) {
  .zig-zag {
    text-align: center;
    margin-bottom: 40px;
  }
  .zig-zag-right * {
    text-align: center !important;
    margin-bottom: 20px;
  }
  .carousel-indicators {
    position: relative;
    clear: both;
    margin-bottom: 30px;
    left: 50%;
  }
}
@media (max-width: 450px) {
  .social {
    float: left !important;
    margin-bottom: 20px;
    margin-top: -15px;
  }
  .zig-zag h2 {
    margin-top: 30px;
  }
}
@media (max-width: 650px) {
  .footer-section {
    text-align: center !important;
  }
  p.copyright {
    float: none !important;
    margin-left: 0px !important;
  }
  .social {
    float: none !important;
  }
  .marketing-action h1 {
    font-size: 35px;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .price-table {
    margin: 30px!important;
  }
}

@media (max-width: 684px) {
  .main-message h1 {
    font-size: 40px !important;
  }
}

.marketing-action {
	position: relative;
	background: url('../images/bk.jpg');
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	color: #ddd;
}
.marketing-action .overlay {
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
}
.marketing-action .text {
	text-align: center;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
}
.marketing-action h1 {
	margin-bottom: 15px !important;
	padding-top: 120px;
	margin-top:0;
}
.marketing-action p{
	color: #ddd;
}
.marketing-action .text h1, .marketing-action h3 {
	color: #fff;
}
.marketing-action a{
	color: #428bca;
	text-decoration: underline;
}
.marketing-action a:hover{
	color: #DD920B;
}
.marketing-action p{
	font-size: 16px;	
}
.btn-cta-buy {
  background-color: #1A1102;
  margin-top: 0px;
}
.btn-cta-buy:hover {
  background-color: #fff;
  color: #1A1102 !important;
  margin-top: 0px;
}
/************ FOOTER ***************/
#footer {
  margin-bottom: 0px;
  background-color: #222222;
  padding-top: 50px;
}
.footer-section {
  margin-bottom: 30px;
}
img.logo-footer {
  margin-top: -15px;
}
p.copyright {
  float: left;
  margin-left: -30px;
}
@media (max-width: 990px) {
  p.copyright {
    padding-left: 30px!important;
  }
}
.social {
  float: right;
  margin-right: -15px;
}
.social a {
  padding-right: 15px;
  font-size: 19px;
}
.social a:hover {
	color: #DD920B;
}

/************ FOOTER ***************/
